# Configuration file

####################
# block
####################

block {
    I:block_airousID=2957
    I:block_dyeLeafID=2959
    I:block_dyeSaplingID=2958
    I:block_lampID=2963
    I:block_machinesID=2966
    I:block_oresID=2965
    I:block_redconductiveliquidID=2961
    I:block_redstoneliquidID=2962
    I:block_stoneWallsID=2960
    I:block_stonesID=2964
}


####################
# general
####################

general {
    # If set to false, flat wire textures will be used for logic gates. Significant performance improvement
    B:3Dlogicwires=true

    # Comma seperated list of item ids that cannot go in a backpack.
    S:"Backpack item blacklist"=

    # Ticks between router searches.
    I:"Detection Frequency"=20

    # Enable advanced debugging, should ALWAYS be false.
    B:"Enable Debugging"=false
    B:"Lamp Halo rendering"=true

    # Number of lights to render, -1 for unlimited
    B:"Light Halo Render Count"=true

    # If set to false, logic gates will not make sounds.
    B:"Logic Sounds"=true

    # Max number of links to explore when discovering new routers.
    I:"Max Detection Count"=100

    # Max number of links allowed in between routers.
    I:"Max Detection Length"=50

    # This ID is used to check if retro gen has been performed on a chunk. Changing it will reset retro gen status.
    S:"Retro Ore Gen ID"=prRG

    # If set to true, world generation for ProjectRed will attempt to run even in previously generated chunks.
    B:"Retro Ore Generation"=false

    # Number of active threads that update routing tables.
    I:"Router Update Thread Count"=4

    # If set to false, gates will be rendered in the TESR rather than the WorldRenderer
    B:renderStaticGates=true

    # If set to false, wires will be rendered in the TESR rather than the WorldRenderer
    B:renderStaticWires=true
}


####################
# item
####################

item {
    I:diamondsickle=31489
    I:goldsaw=31500
    I:goldsickle=31493
    I:ironsickle=31494
    I:item_backpackID=31519
    I:item_componentsID=31522
    I:item_dataCardID=31516
    I:item_drawplateID=31521
    I:item_routerUtilID=31517
    I:item_routingChipID=31518
    I:item_screwdriverID=31523
    I:item_turbineID=8752
    I:item_wireDebuggerID=31524
    I:item_woolginID=31520
    I:peridotaxe=31513
    I:peridothoe=31510
    I:peridotpickaxe=31507
    I:peridotsaw=31497
    I:peridotshovel=31504
    I:peridotsickle=31490
    I:peridotsword=31501
    I:rubyaxe=31515
    I:rubyhoe=31512
    I:rubypickaxe=31509
    I:rubysaw=31499
    I:rubyshovel=31506
    I:rubysickle=31492
    I:rubysword=31503
    I:sapphireaxe=31514
    I:sapphirehoe=31511
    I:sapphirepickaxe=31508
    I:sapphiresaw=31498
    I:sapphireshovel=31505
    I:sapphiresickle=31491
    I:sapphiresword=31502
    I:stonesickle=31495
    I:woodsickle=31496
}


####################
# multipart item ids
####################

"multipart item ids" {
    I:"Cage Lamp Part ID"=8778
    I:"Fixture Part ID"=8779
    I:"Gate Part ID"=8780
    I:"Illuminated Button Part ID"=8781
    I:"Inverted Cage Lamp Part ID"=8782
    I:"Inverted Fixture Part ID"=8783
    I:"Inverted Lamp Part ID"=8784
    I:"Inverted Lantern Part ID"=8785
    I:"Jacketed Wire Part ID"=8786
    I:"Lamp Part ID"=8787
    I:"Lantern Part ID"=8788
    I:"Pipe Part ID"=8791
    I:"Tube Part ID"=8789
    I:"Wire Part ID"=8790
}


####################
# world generation
####################

"world generation" {
    B:"Marble Caves"=false
    B:"Peridot Ore"=true
    B:"Ruby Ore"=true
    B:"Sapphire Ore"=true
    B:"Spreading Moss"=false
    B:"Stained Trees"=false
    B:Volcanos=false
}


