# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Redstonetorch Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Redstonetorch Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# ""arrows enabled""
####################

"""arrows enabled""" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Redstonetorch Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=2955
    I:blockIdRope=2956
    I:blockIdRopeDJRoslin=2954
    I:blockIdZipLineAnchor=2953
}


####################
# general
####################

general {
    B:"Equipped Bow Tool Tip"=true
    I:"GUI String x coordinate, higher value means more to the right"=2
    I:"GUI String y coordinate, higher value means lower"=10
    B:disableBowHook=false
    I:"max HookShot Rope Length"=25
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31668
    I:itemIdArrowDirt=31667
    I:itemIdArrowExplosion=31666
    I:itemIdArrowFire=31665
    I:itemIdArrowGrass=31664
    I:itemIdArrowIce=31663
    I:itemIdArrowLaser=31662
    I:itemIdArrowRedstoneTorch=31657
    I:itemIdArrowRope=31661
    I:itemIdArrowSlime=31660
    I:itemIdArrowTorch=31659
    I:itemIdArrowWarp=31658
    I:itemIdGrapplingHook=31670
    I:itemIdHookShot=31656
    I:itemIdHookshotCartridge=31655
    I:itemIdRope=31671
    I:itemIdRopesPlusBow=31669
}


